@using QuickRMS.Site.Models.Authen.Role
@using QuickRMS.Site.Models.AdminCommon
@model SearchModel
@{
    var createButton = new ButtonModel();
    createButton = ViewBag.Create;
}

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-search"></i></span>
        <h5>查询条件</h5>
    </div>
    <div class="widget-content nopadding">
        <form class="form-horizontal search-form" method="post" name="basic_validate" novalidate="novalidate">

            <div class="control-group">
                <div class="search-group">
                    <label class="search-label">@Html.DisplayNameFor(t => t.Name)</label>
                    <div class="span2 search-input">
                        @Html.TextBoxFor(t => t.Name)
                    </div>
                </div>
                <div class="search-group">
                    <label class="search-label">@Html.DisplayNameFor(t => t.Enabled)</label>
                    <div class="span2 search-input">
                        @Html.DropDownListFor(t => t.Enabled, Model.EnabledItems)
                    </div>
                </div>
            </div>

            <div class="form-actions form-operate text-right ">
                <button type="button" class="btn btn-danger" onclick="ClearForm($('.search-form'));">
                    <span class="icon-bullhorn"></span>清空
                </button>
                <button type="button" class="btn btn-success" onclick="Search()">
                    <span class="icon-search"></span>搜索
                </button>
                @if (createButton != null)
                {
                    <button type="button" class="btn btn-primary" onclick="Create()">
                        <span class="@createButton.Icon"></span> @createButton.Text
                    </button>
                }
            </div>

        </form>

    </div>
</div>
