@using ExpApp.Web.Framework.Extension.MvcHelper
 @using ExpApp.Web.Framework;
@model ExpApp.Site.Models.Authen.Module.ModuleModel

@Html.HiddenFor(t => t.Id)

<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>@Html.DisplayNameFor(t => t.Name) :           
    </label>
    <div class="controls">
        <label class="label-text">
            @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })                
        </label>
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>@Html.DisplayNameFor(t => t.Code) :         
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Code, new { @class = "form-control" })        
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        @Html.DisplayNameFor(t => t.ParentName) :         
    </label>
    <div class="controls">
        @Html.DropDownListFor(t => t.ParentId, Model.ParentModuleItems, new { @class = "form-control" })             
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        @Html.DisplayNameFor(t => t.Icon) :
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.Icon, new { @class = "form-control" })
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        @Html.DisplayNameFor(t => t.LinkUrl) :         
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.LinkUrl, new { @class = "LinkUrl form-control" })     
        @Html.ValidationMessageFor(m => m.LinkUrl)        
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        <label class="red">*</label>@Html.DisplayNameFor(t => t.OrderSort) :        
    </label>
    <div class="controls">
        @Html.TextBoxFor(t => t.OrderSort, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OrderSort)           
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        @Html.DisplayNameFor(t => t.IsMenu) :          
    </label>
    <div class="controls">
        @Html.CheckBoxFor(t => t.IsMenu)          
    </div>
</div>

<div class="control-group">
    <label class="control-label-form">
        @Html.DisplayNameFor(t => t.Enabled) :          
    </label>
    <div class="controls">
        @Html.CheckBoxFor(t => t.Enabled)          
    </div>
</div>

@Html.ScriptBlock(
    @<script type="text/javascript">
        $(function () {
            $(".LinkUrl").autocomplete(
                {
                    source: function (request, response) {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetModuleLinkUrl")",
                            data: { "term": request.term },
                            dataType: 'json',
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.LinkUrl,
                                        value: item.LinkUrl
                                    }
                                }));
                            }
                        });
                    },
                    minChars: 0,
                    max: 10,
                    autoFill: true,
                    mustMatch: true,
                    matchContains: true,
                    change: function (event, ui) {
                        var result = false;
                        var source = $(this).val();
                        $(".ui-autocomplete li").each(function () {
                            if (source == $(this).text()) {
                                result = true;
                                return true;
                            }
                        });
                        if (!result) {
                            $(this).val('');
                        }
                    }
                });
        })
    </script>
    )